@import 'tailwindcss';

/* Custom global styles (optional) */
@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, sans-serif;
    background-color: #fff;
    color: #000;
  }

  #__next {
    height: 100%;
  }
}
